html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em;
}

h1 {
    text-align: center;
}

.link:link, .link:visited {
    color: inherit;
}

.links > div {
    padding: 5px;
    font-size: 24px;
}

.foreground1, .foreground2 {
    display: inline-block;
    padding: 12px;
    margin-top: 6px;
    border-radius: 5px;
}

pre {
    padding: 12px;
    margin-top: 6px;
    border-radius: 5px;
}

#back {
    margin-bottom: 1em;
}

.cur {
    cursor: default;
}

pre {
    overflow-x: auto;
    padding: 6px;
}
