html {
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #000;
}

input {
    background-color: #e0e0e0;
    color: inherit;
    border-color: #d0d0d0;
}

.foreground1 {
    background: #e0e0e0;
    box-shadow: 5px 5px 5px #d0d0d0;
    margin-bottom: 6px;
}

.foreground2 {
    background: #d0d0d0;
    box-shadow: 5px 5px 5px #c0c0c0;
    margin-bottom: 6px;
}

.foreground3 {
    background: #c0c0c0;
    box-shadow: 5px 5px 5px #b0b0b0;
    margin-bottom: 6px;
}

.link:hover {
    color: hsl(0, 0%, 45%);
}