html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em;
}

div {
    display: inline-block;
    padding: 6px;
}

h1 {
    text-align: center;
}

.link:link, .link:visited {
    color: inherit;
}

.links > div {
    padding: 5px;
    font-size: 24px;
}

.foreground1, .foreground2, .foreground3 {
    padding: 5px
}

#back {
    margin-bottom: 1em;
    /*position: absolute;
    top: 0;
    margin: 2em;
    margin-top: 1.5em;
    padding: 5px;*/
}

.cur {
    cursor: default;
}
