html {
    background-image: linear-gradient(270deg, rgb(20, 21, 21) 0%, rgb(12, 12, 12) 100%);
}

body {
    background: #262626;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #fff;
}

.foreground1, .foreground pre {
    background: #303030;
    box-shadow: 5px 5px 5px #181818;
    margin-bottom: 8px;
}

.foreground2, .foreground1 pre{
    background: #363636;
    box-shadow: 5px 5px 5px #282828;
    margin-bottom: 8px;
}

.foreground3 {
    background: #464646;
    box-shadow: 5px 5px 5px #343434;
    margin-bottom: 8px;
}
/*525252*/

a:link {
    color: #1166FF;
}

a:visited {
  color: #7744ff;
}

a:hover {
  color: #4499FF;
}

a:active {
  color: #FF3333;
}

input[type=text], input[type=number] {
    background-color: #242424;
    color: inherit;
    border-color: #565656;
}

div.foreground1 input[type=text], div.foreground1 input[type=number], input[type=button], select {
    background-color: #363636;
    color: inherit;
    border-color: #565656;
}

div.foreground2 input[type=text], div.foreground2 input[type=number], div.foreground1 input[type=button], div.foreground1 select {
    background-color: #464646;
    color: inherit;
    border-color: #565656;
}

textarea {
    background-color: #151515;
    color: inherit;
}

.link:hover {
    color: hsl(0, 0%, 70%);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #202020;
}
::-webkit-scrollbar-thumb {
    background: #383838;
}
::-webkit-scrollbar-thumb:hover {
    background: #464646;
}