html {
    -webkit-font-smoothing: antialiased;
    font-size: 2.1vh;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 51%;
    padding: 2em;
}

h1 {
    text-align: center;
}

.link:link, .link:visited {
    color: inherit;
}

.links > div {
    padding: 5px;
    font-size: 1.5em;
}

.foreground1, .foreground2, .foreground3 {
    display: inline-block;
    padding: 12px;
    margin-top: 6px;
    border-radius: .333em;
}

input[type=button], button, input[type=text], input[type=number], textarea{
    border-radius: 5px;
}

pre {
    padding: 12px;
    margin-top: 6px;
    border-radius: 5px;
}

#back {
    margin-bottom: 1em;
}

.cur {
    cursor: default;
}

pre {
    overflow-x: auto;
    padding: 6px;
}
