html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(18, 19, 19) 0%, rgb(10, 10, 10) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #262626;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em;
    padding-bottom: 4em;
}

h1 {
    text-align: center;
}

a:link {
    color: #0000FF;
}

a:visited {
  color: #800080;
}

a:hover {
  color: #0000FF;
}

a:active {
  color: #FF0000;
}

.link {
    color: inherit;
}

.link:hover {
    color: hsl(0, 0%, 70%);
}

.links > div {
    padding: 5px;
    font-size: 24px;
}

#back {
    margin-bottom: 1em;
    /*position: absolute;
    top: 0;
    margin: 2em;
    margin-top: 1.5em;
    padding: 5px;*/
}

.heading {
    margin-block-start: 0em;
}

.cur {
    cursor: default;
}
