html {
    background-image: linear-gradient(270deg, rgb(240, 244, 244) 0%, rgb(225, 230, 230) 100%);
}

.foreground1 {
    background: #f1f1f1;
    box-shadow: 5px 5px 5px #d5d5d5;
    margin-bottom: 6px;
}

.foreground2 {
    background: #e3e3e3;
    box-shadow: 5px 5px 5px #cacaca;
    margin-bottom: 6px;
}

.foreground3 {
    background: #cecece;
    box-shadow: 5px 5px 5px #b2b2b2;
    margin-bottom: 6px;
}

.link:hover {
    color: hsl(0, 0%, 45%);
}
